# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Raw/processed EEG data
data/raw/*
data/processed/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# Model files
*.pt
*.pth
*.joblib

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/